.header_base {
  background-image: url("./img/header_background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.2em;
}

.header_base h1 {
  text-align: center;
  color: brown;
  text-shadow: 1px 1px 2px beige;
  font-size: 3em;
}
