
.list_roses ul {
  list-style-type: none;
  margin-left: 10px;
}

.list_roses li {
  margin-bottom: 40px;
}

.list_roses_img img {
  vertical-align: top;
  border-radius: 20px;
}

.list_roses_information {
  vertical-align: top;
  padding-left: 10px;
}
