<app-header [title]="title"></app-header>

<a [routerLink]="'/aboutus'">About Us</a>

<form>
  <div>
    URL photo: <input type="text"><br>
    Name: <input type="text"><br>
    Variety: <input type="text"><br>
    Flower colour: <input type="text"><br>
    Flower scent: <input type="text"><br>
    Intensity fragrance: <input type="range"><br>
    Flower size: <input type="number"> cm<br>
    Durability flowers: <input type="number"> days<br>
    Height: <input type="number"> cm<br>
    Frost resistance: <input type="number"> celsius<br>
    Disease resistance: <input type="range"><br>
    Water requirements: <input type="range"><br>
    Sun exposure: <input type="range"><br>
    <button type="button">Save</button>
  </div>
</form>
