body {
  background-color: whitesmoke;
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'font_h3';
  src: url('assets/fonts/Aston Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h3 {
  text-align: center;
  font-style: italic;
  font-family: font_h3, serif;
  font-size: 2em;
  padding: 1em;
  background-color: wheat;
}
