<app-header [title]="title"></app-header>

<h3>Select the Rose you want to delete</h3>

<div class="list_roses">
  <ul>
    <li *ngFor="let rose of roses; index as i" (click)="goToDelete(i)">
      <table>
        <td class="list_roses_img">
          <img [src]="rose.photo" width="200" height="200" alt="rose"/><br>
          Name: {{rose.name}}<br>
          Variety: {{rose.variety}}<br>
          Intensity Fragrance: {{rose.intensityFragrance}}<br>
        </td>
      </table>
    </li>
  </ul>
</div>
